* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    #root {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .vidPlayerCont {
        width: 900px;
        #videoPlayer {
            width: 100%;
            position: relative;
            user-select: none;
            video {
                width: 100%;
            }
            button {
                background: none;
                border: none;
                cursor: pointer;
                display: grid;
                place-items: center;
                overflow: hidden;
            }
            .controls {
                position: absolute;
                left: 0;
                bottom: 0;
                --height: 60px;
                --seekbar-height: 20px;
                --ctrlBtns-height: 40px;
                height: var(--height);
                width: 100%;
                background: linear-gradient(to top, #000, transparent);
                display: grid;
                grid-template-rows: var(--seekbar-height) auto;
                padding: 0 15px;
                .seekbar {
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    cursor: pointer;
                    &:hover {
                        .current {
                            &::after {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                    > span {
                        position: absolute;
                        height: 4px;
                        transition: 0.2s height;
                    }
                    .full {
                        width: 100%;
                        background: #fff2;
                    }
                    .loaded {
                        width: 0;
                        background: #fff3;
                    }
                    .hover {
                        width: 0;
                        background: #fff6;
                        display: flex;
                        align-items: center;
                    }
                    .current {
                        width: 0;
                        --colorbg: #ff9100;
                        background: var(--colorbg);
                        display: flex;
                        align-items: center;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            transition: 0.2s;
                            transform: translate(50%, calc(-50% + 2px));
                            width: 0;
                            height: 0;
                            border-radius: 100%;
                            background-color: var(--colorbg);
                        }
                    }
                }
                .ctrlBtns {
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        > button {
                            height: var(--ctrlBtns-height);
                            width: var(--ctrlBtns-height);
                            transform: scale(1);
                            transform: 0.2s;
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                    .left {
                    }
                    .right {
                    }
                }
            }
        }
    }
}
