* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #212121;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

body #root {
  width: 100%;
  height: 100%;
  position: relative;
}

body .vidPlayerCont {
  width: 900px;
}

body .vidPlayerCont #videoPlayer {
  width: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .vidPlayerCont #videoPlayer video {
  width: 100%;
}

body .vidPlayerCont #videoPlayer button {
  background: none;
  border: none;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

body .vidPlayerCont #videoPlayer .controls {
  position: absolute;
  left: 0;
  bottom: 0;
  --height: 60px;
  --seekbar-height: 20px;
  --ctrlBtns-height: 40px;
  height: var(--height);
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: var(--seekbar-height) auto;
      grid-template-rows: var(--seekbar-height) auto;
  padding: 0 15px;
}

body .vidPlayerCont #videoPlayer .controls .seekbar {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
}

body .vidPlayerCont #videoPlayer .controls .seekbar:hover .current::after {
  width: 15px;
  height: 15px;
}

body .vidPlayerCont #videoPlayer .controls .seekbar > span {
  position: absolute;
  height: 4px;
  -webkit-transition: 0.2s height;
  transition: 0.2s height;
}

body .vidPlayerCont #videoPlayer .controls .seekbar .full {
  width: 100%;
  background: #fff2;
}

body .vidPlayerCont #videoPlayer .controls .seekbar .loaded {
  width: 0;
  background: #fff3;
}

body .vidPlayerCont #videoPlayer .controls .seekbar .hover {
  width: 0;
  background: #fff6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .vidPlayerCont #videoPlayer .controls .seekbar .current {
  width: 0;
  --colorbg: #ff9100;
  background: var(--colorbg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .vidPlayerCont #videoPlayer .controls .seekbar .current::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(50%, calc(-50% + 2px));
          transform: translate(50%, calc(-50% + 2px));
  width: 0;
  height: 0;
  border-radius: 100%;
  background-color: var(--colorbg);
}

body .vidPlayerCont #videoPlayer .controls .ctrlBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body .vidPlayerCont #videoPlayer .controls .ctrlBtns > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .vidPlayerCont #videoPlayer .controls .ctrlBtns > div > button {
  height: var(--ctrlBtns-height);
  width: var(--ctrlBtns-height);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: 0.2s;
          transform: 0.2s;
}

body .vidPlayerCont #videoPlayer .controls .ctrlBtns > div > button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=index.css.map */