* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    color: #fff;
    font-family: sans-serif;
    #root {
        width: 100%;
        height: 100%;
        position: relative;
        .inputRange {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: grid;
            place-items: center;
            > span {
                height: 4px;
                position: absolute;
            }
            .full {
                width: 100%;
                background: #fff6;
            }
            .slider {
                background: #fff;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: #ff9100;
                    width: 15px;
                    height: 15px;
                    transform: translate(50%, calc(-50% + 2px));
                    border-radius: 100%;
                }
            }
        }
        .vidPlayerCont {
            width: 900px;
            #videoPlayer {
                aspect-ratio: 16 / 9;
                overflow: hidden;
                width: 100%;
                position: relative;
                user-select: none;
                display: grid;
                place-items: center;
                .vidCont {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: grid;
                    place-items: center;
                    .loading {
                        position: absolute;
                        width: 80px;
                        display: none;
                        height: 80px;
                        border-radius: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -100%);
                        svg {
                            circle {
                                stroke: #ffffff;
                                stroke-width: 7px;
                                fill: none;
                                --length: 219.5px;
                                stroke-dasharray: var(--length);
                                stroke-dashoffset: 0;
                                animation: rotate 4s infinite linear;
                                transform-origin: center;
                            }
                            @keyframes rotate {
                                0% {
                                    transform: rotate(0deg);
                                    stroke-dashoffset: calc(var(--length) * 2);
                                }
                                100% {
                                    transform: rotate(1440deg);
                                    stroke-dashoffset: 0;
                                }
                            }
                        }
                    }
                    video {
                        width: 100%;
                        max-height: 100%;
                        aspect-ratio: 16 / 9;
                    }
                }
                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: grid;
                    place-items: center;
                    overflow: hidden;
                    color: inherit;
                }
                .controls {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    --height: 65px;
                    --seekbar-height: 15px;
                    --ctrlBtns-height: 50px;
                    height: var(--height);
                    width: 100%;
                    background: linear-gradient(to top, #000, transparent);
                    display: grid;
                    grid-template-rows: var(--seekbar-height) 50px;
                    padding: 0 15px;
                    .seekbar {
                        height: 100%;
                        position: relative;
                        display: flex;
                        align-items: flex-end;
                        justify-content: left;
                        cursor: pointer;
                        &:hover {
                            .current {
                                &::after {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                        > span {
                            position: absolute;
                            height: 4px;
                            transition: 0.2s height;
                        }
                        .hoveredTime {
                            position: absolute;
                            display: none;
                            top: 0;
                            transform: translate(-50%, -100%);
                            padding: 5px;
                            border-radius: 5px;
                            background: #212121;
                        }
                        .full {
                            width: 100%;
                            background: #fff2;
                        }
                        .loaded {
                            width: 0;
                            background: #fff3;
                        }
                        .hover {
                            width: 0;
                            background: #fff6;
                            display: flex;
                            align-items: center;
                        }
                        .current {
                            width: 0;
                            --colorbg: #ff9100;
                            background: var(--colorbg);
                            display: flex;
                            align-items: center;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                transition: 0.2s;
                                transform: translate(50%, calc(-50% + 2px));
                                width: 0;
                                height: 0;
                                border-radius: 100%;
                                background-color: var(--colorbg);
                            }
                        }
                    }
                    .ctrlBtns {
                        display: flex;
                        flex-direction: row;
                        align-items: stretch;
                        --btn-color: #fff;
                        > div {
                            display: flex;
                            flex-direction: row;
                            align-items: stretch;
                            position: relative;
                            > button {
                                height: var(--ctrlBtns-height);
                                width: var(--ctrlBtns-height);
                                > svg {
                                    fill: var(--btn-color);
                                }
                                &::before {
                                    content: attr(data-title);
                                    // display: none;
                                    position: absolute;
                                    white-space: nowrap;
                                    top: 0;
                                    transform: translate(0, -150%) scale(0);
                                    transition: 0.2s;
                                    border-radius: 5px;
                                    transform-origin: bottom;
                                    font-weight: bold;
                                    background: #212121;
                                    padding: 5px;
                                    color: #fff;
                                }
                                &:hover {
                                    &::before {
                                        display: block;
                                        transform: translate(0, -150%) scale(1);
                                    }
                                }
                            }
                        }
                        .left {
                            .volume:hover + .audiorange {
                                transform: scale(1);
                                width: calc(var(--ctrlBtns-height) * 2.5);
                                padding: 0 calc(var(--ctrlBtns-height) * 0.25);
                            }
                            .audiorange {
                                display: flex;
                                align-items: center;
                                position: relative;
                                width: 0;
                                overflow: hidden;
                                padding: 0 0;
                                transform: scale(0);
                                transition: 0.2s;
                                transform-origin: left;
                                &:hover {
                                    transform: scale(1);
                                    width: calc(var(--ctrlBtns-height) * 2.5);
                                    padding: 0
                                        calc(var(--ctrlBtns-height) * 0.25);
                                }
                                input[type="range"] {
                                    position: relative;
                                    appearance: none;
                                    width: 100%;
                                    height: 4px;
                                    border-radius: 0;
                                    background: #fff6;
                                    outline: none;
                                    cursor: pointer;
                                    &::-webkit-slider-thumb {
                                        appearance: none;
                                        width: 15px;
                                        height: 15px;
                                        background: var(--btn-color);
                                        border-radius: 100%;
                                    }
                                }
                                .trail {
                                    position: absolute;
                                    height: 4px;
                                    cursor: pointer;
                                    max-width: calc(var(--ctrlBtns-height) * 2);
                                    background: var(--btn-color);
                                    // transform: translate(7.5px, 0);
                                }
                            }
                        }
                        .right {
                            margin-left: auto;
                            .settingOptions {
                                position: absolute;
                                width: 200px;
                                display: flex;
                                flex-direction: column;
                                background: #212121;
                                height: 200px;
                                border-radius: 5px;
                                padding: 10px;
                                color: #fff;
                                bottom: calc(100% + 10px);
                                .optionTab {
                                    h3 {
                                        padding: 5px 0;
                                        font-size: 20px;
                                    }
                                    .options {
                                        padding: 5px;
                                        &:hover {
                                            background: #fff2;
                                        }
                                        &:active {
                                            background: #fff4;
                                        }
                                    }
                                    .selected {
                                        background: #fff2;
                                    }
                                }
                            }
                            .time {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                font-size: 18px;
                            }
                            .fullscreen {
                                &::before {
                                    right: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
